
@{
    ViewBag.Title = "AnaSayfa";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div style="text-align: center; padding:75px">

   
    <img src="~/Dosyalar1/Ekran görüntüsü 2024-04-22 153046.png" />
</div>
