@using OgrenciMvcWebProjesi.Models.EntityFrameWork
@model List<TBLKULUPLER>
@{
    ViewBag.Title = "KulupIndex";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    #klpındex {
        font-family: 'Microsoft Sans Serif';
        font-size: 15px;
        font-weight: bold;
    }


</style>
<table class="table table-bordered" id="klpındex">
    <tr style="border:3px solid grey;">
        <td style="color: #197897; font-weight: bold; text-decoration: underline;border:3px solid grey;">KULÜP ID</td>
        <td style="color: #197897; font-weight: bold; text-decoration: underline;border:3px solid grey;">KULÜP ADI</td>
        <td style="color: #197897; font-weight: bold; text-decoration: underline;border:3px solid grey;">KULÜP KONTENJAN</td>
     </tr>
    <tbody style="border:3px solid grey;">
        @foreach (var kulup in Model)
        {
            <tr style="border:3px solid grey;">
                <td style="border:3px solid grey;">@kulup.KULUPID</td>
                <td style="border:3px solid grey;">@kulup.KULUPAD</td>
                <td>@kulup.KULUPKONTENJAN</td>
            </tr>
        }

    </tbody>

</table>
