
@{
    ViewBag.Title = "İletisimIndex";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .table-bordered{
        
        width:500px;
        text-align:center;
        margin-left:300px;
        border:3px solid grey;
        font-family:Dubai;
        font-size:20px;
        margin-top:50px;
        
        }
    .asd{
        text-align:center;
        margin-left:420px;
        font-weight:bold;
        text-decoration:underline;
    }
</style>
<div>

    <table class="asd"> 
        <tr>
            <td 
                style="text-align:center;font-size:35px;">İLETİŞİM BİLGİLERİ</td>
         </tr>

       
    </table>
    <table class="table table-bordered">
        <tr>
            <td style="border:3px solid grey;">ADI SOYADI</td>
            <td style="font-weight:bold">SEMİH VURAL</td>

        </tr>
        <tr style="border:3px solid grey;">
            <td style="border:3px solid grey;">E-MAİL</td>
            <td style="font-weight:bold">toredo159@gmail.com</td>

        </tr>
        <tr style="border:3px solid grey;">
            <td style="border:3px solid grey;">ADRES</td>
            <td style="font-weight:bold">GÜNGÖREN</td>

        </tr>
        <tr style="border:3px solid grey;">
            <td style="border:3px solid grey;">TEL NO</td>
            <td style="font-weight:bold">0555 555 5555</td>

        </tr>
        <tr style="border:3px solid grey;">
            <td style="border:3px solid grey;">GİTHUB HESAP</td>
            <td style="font-weight:bold">

                <a href="https://github.com/SemihVRL">TIKLAYIN!</a>
            </td>

        </tr>
        <tr style="border:3px solid grey;">
            <td style="border:3px solid grey;">LİNKEDİN HESAP</td>
            <td style="font-weight:bold">

                <a href="https://www.linkedin.com/in/semih-vural-838817257/">
                    TIKLAYIN!
                </a>
            </td>

        </tr>



    </table>
</div>