@using OgrenciMvcWebProjesi.Models.EntityFrameWork
@model List<TBLDERSLER>
@{
    ViewBag.Title = "DersIndex";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    #dersındex {
        font-family: 'Microsoft Sans Serif';
        font-size: 15px;
        font-weight: bold;
        
        
    }

</style>
<table class="table table-bordered" id="dersındex" >
    <tr style="border:3px solid grey;">
        <td style="color: #197897; font-weight: bold; text-decoration: underline; border: 3px solid grey;">DERS ID</td>
        <td  style="color:#197897;font-weight:bold;text-decoration:underline;" >DERS ADI</td>
       
    </tr>
    <tbody>

        @foreach(var ders in Model)
            {
                <tr style="border:3px solid grey;">
                    <td style="border:3px solid grey;" >@ders.DERSID</td>
                    <td >@ders.DERSAD</td>
                </tr>
            }
    </tbody>

</table>
